body{
	background-image: url('movie.png');
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	color: #b19cd9;
}

div.transbox{
	position: relative;
	margin: 150px auto;
	padding-left: 30px;
	padding-right: 30px;
	opacity: 0.9;
	bottom: 100px;
}

h2{
	text-align: center;
	font-size: 40px;
	color: #b19cd9;
	text-shadow: 2px 2px #000000;
}

h5{
	font-style: bold;
	font-size: 20px;
}

h4{
	font-size: 30px;
}

input{
	position: relative;
	width: 300px;
	height: 40px;
	text-align: center;
	margin: auto;
	font-size: 24px;
	background: rgba(255,255,255,0.2);
	color: white;
	border: none;
	outline: none;
}

#theButton{
	margin: auto;
	outline: none;
	font-size: 1em;
	height: 2em;
	width: 10em;
}

#theResults{
	margin-bottom: 100px;
	border-top: 20px;
	width: 50%;
	height: 70%;
	background-color: black;
	border: 50px;
	/*display: none;*/
}

#loading{
	position: relative;
	display: none;
	margin: auto;
}

.slick-prev:before, .slick-next:before{
	font-size: 75px;
}

.slick-prev {
	left: -75px;
}

.slick-next {
	right: -20px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {

}